h1 {
  color:purple;
}

.square {
  width: 100%
}

#green {
  background-color: #7CFC00;
  opacity: 0.9;
  width: 100%;
  height: 100px;
}

#pink {
  background-color: #FF69B4;
  opacity: 0.8;
  width: 100%;
  height: 100px;
}

#purple {
  background-color: #FF00FF;
  opacity: .7;
  weight: 100px;
  height: 100px;
}

#blue {
  background-color: #0000CD;
  opacity: .6;
  weight: 50px;
  height: 50px;
}

/*make sure you only use each id once*/
